.title {
    margin-top: 8px;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 8px;
    font-size: 46px;
    color: #FDB931;
    text-align: center;
}

.tableWrapper {
    margin-top: 36px;
    align-items: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tblHeader {
    background-color: #FDB931;
}

.tblContent {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid #FDB931;
}

th {
    padding: 20px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-family: 'Playfair Display', ;
    font-style: italic;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    background-color: black;
    border-bottom: solid 1px #FDB931;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
}

.imperial {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 5px;
}

td p:not(:first-child) {
    margin-top: 4px;
}

@media screen and (max-width: 768px) {
    th {
        font-size: 10px;
    }

    td {
        font-size: 14px;
    }
}