@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600&family=Raleway:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.mainWrapper {
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    padding-top: 52px;
    padding-bottom: 52px;
}

.lineWrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

html {
    background: black;
}