* {
  padding: 0;
  margin: 0;
}

.mainWrapper {
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-size: contain;
}

.lineWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

html {
  background: black;
}